
*.class
code
.idea/
*.user
*.o
*.ali
.aider*
.env
node_modules/
target/
build/
out/
dist/
*.log
*.aux
*.bbl
*.blg
jvm.code
code.jar
code.elc
code.eln
Cargo.lock
.zig-cache
zig-out
**/csharp/bin/
**/csharp/obj/
**/fsharp/bin/
**/fsharp/obj/
**/cobol/main
**/js/bun
*.iprof
.scala-build
*/scala/code-native
*/scala/code.js
*/racket/compiled/
*.zo
*/clojure-native-image/run
*/java-native-image/jvm.run
*/java-native-image/run
loops/*/code
loops/*/run
fibonacci/*/code
fibonacci/*/run
levenshtein/*/code
levenshtein/*/run
hello-world/*/code
hello-world/*/run
.nrepl-port

*/crystal/run.dwarf

*/fortran/*.mod

*/py/__pycache__/
*/py-jit/__pycache__/

*/mealg/*.beam
*/mealg/*.ez
*/mealg/build
erl_crash.dump
manifest.toml