
*.class
code
.idea/
*.user
*.o
*.ali
.aider*
.env
node_modules/
target/
build/
out/
dist/
*.log
*.aux
*.bbl
*.blg
jvm.code
code.jar
code.elc
code.eln
Cargo.lock
**/csharp/bin/
**/csharp/obj/
**/fsharp/bin/
**/fsharp/obj/
**/cobol/main
**/js/bun
*.iprof